<label>Search Codelist</label>
<input aria-label="Search Codelist" type="text" id="codelist-search" name="codelist-search" class="text-input" placeholder="Search by term or code identifier..." />
<span class="ruleset-headers with-border">
  <span class="flex-1">Rule</span>
  <span class="flex-1">Code</span>
  <span class="flex-2">Description</span>
</span>
<span class="ruleset-creator-panel">
  <span class="ruleset-item" id="code-item">
    <form aria-label="Include or Exclude Code" action="" value="code-id" id="ruleset-item-form" class="ruleset-item-form flex-1">
      <input type="radio" name="criteria" id="include" class="include" />
      <input type="radio" name="criteria" id="exclude" class="exclude" />
      <span></span>
      <div class="ruleset-radio">
        <label for="include" class="ruleset-radio-lbl">Include</label>
        <label for="exclude" class="ruleset-radio-lbl">Exclude</label>
      </div>
    </form>
    <span class="ruleset-item-field flex-1" id="ruleset-item-code">F1442</span>
    <span class="ruleset-item-field flex-2" id="ruleset-item-desc">Cerebellar ataxia-neoplasia</span>
  </span>
  <span class="ruleset-item" id="code-item">
    <form aria-label="Include or Exclude Code" action="" value="code-id" id="ruleset-item-form" class="ruleset-item-form flex-1">
      <input type="radio" name="criteria" id="include" class="include" />
      <input type="radio" name="criteria" id="exclude" class="exclude" />
      <span></span>
      <div class="ruleset-radio">
        <label for="include" class="ruleset-radio-lbl">Include</label>
        <label for="exclude" class="ruleset-radio-lbl">Exclude</label>
      </div>
    </form>
    <span class="ruleset-item-field flex-1" id="ruleset-item-code">F1442</span>
    <span class="ruleset-item-field flex-2" id="ruleset-item-desc">Cerebellar ataxia-neoplasia</span>
  </span>
  <span class="ruleset-item" id="code-item">
    <form aria-label="Include or Exclude Code" action="" value="code-id" id="ruleset-item-form" class="ruleset-item-form flex-1">
      <input type="radio" name="criteria" id="include" class="include" />
      <input type="radio" name="criteria" id="exclude" class="exclude" />
      <span></span>
      <div class="ruleset-radio">
        <label for="include" class="ruleset-radio-lbl">Include</label>
        <label for="exclude" class="ruleset-radio-lbl">Exclude</label>
      </div>
    </form>
    <span class="ruleset-item-field flex-1" id="ruleset-item-code">F1442</span>
    <span class="ruleset-item-field flex-2" id="ruleset-item-desc">Cerebellar ataxia-neoplasia</span>
  </span>
  <span class="ruleset-item" id="code-item">
    <form aria-label="Include or Exclude Code" action="" value="code-id" id="ruleset-item-form" class="ruleset-item-form flex-1">
      <input type="radio" name="criteria" id="include" class="include" />
      <input type="radio" name="criteria" id="exclude" class="exclude" />
      <span></span>
      <div class="ruleset-radio">
        <label for="include" class="ruleset-radio-lbl">Include</label>
        <label for="exclude" class="ruleset-radio-lbl">Exclude</label>
      </div>
    </form>
    <span class="ruleset-item-field flex-1" id="ruleset-item-code">F1442</span>
    <span class="ruleset-item-field flex-2" id="ruleset-item-desc">Cerebellar ataxia-neoplasia</span>
  </span>
  <span class="ruleset-item" id="code-item">
    <form aria-label="Include or Exclude Code" action="" value="code-id" id="ruleset-item-form" class="ruleset-item-form flex-1">
      <input type="radio" name="criteria" id="include" class="include" />
      <input type="radio" name="criteria" id="exclude" class="exclude" />
      <span></span>
      <div class="ruleset-radio">
        <label for="include" class="ruleset-radio-lbl">Include</label>
        <label for="exclude" class="ruleset-radio-lbl">Exclude</label>
      </div>
    </form>
    <span class="ruleset-item-field flex-1" id="ruleset-item-code">F1442</span>
    <span class="ruleset-item-field flex-2" id="ruleset-item-desc">Cerebellar ataxia-neoplasia</span>
  </span>
  <span class="ruleset-item" id="code-item">
    <form aria-label="Include or Exclude Code" action="" value="code-id" id="ruleset-item-form" class="ruleset-item-form flex-1">
      <input type="radio" name="criteria" id="include" class="include" />
      <input type="radio" name="criteria" id="exclude" class="exclude" />
      <span></span>
      <div class="ruleset-radio">
        <label for="include" class="ruleset-radio-lbl">Include</label>
        <label for="exclude" class="ruleset-radio-lbl">Exclude</label>
      </div>
    </form>
    <span class="ruleset-item-field flex-1" id="ruleset-item-code">F1442</span>
    <span class="ruleset-item-field flex-2" id="ruleset-item-desc">Cerebellar ataxia-neoplasia</span>
  </span>
  <span class="ruleset-item" id="code-item">
    <form aria-label="Include or Exclude Code" action="" value="code-id" id="ruleset-item-form" class="ruleset-item-form flex-1">
      <input type="radio" name="criteria" id="include" class="include" />
      <input type="radio" name="criteria" id="exclude" class="exclude" />
      <span></span>
      <div class="ruleset-radio">
        <label for="include" class="ruleset-radio-lbl">Include</label>
        <label for="exclude" class="ruleset-radio-lbl">Exclude</label>
      </div>
    </form>
    <span class="ruleset-item-field flex-1" id="ruleset-item-code">F1442</span>
    <span class="ruleset-item-field flex-2" id="ruleset-item-desc">Cerebellar ataxia-neoplasia</span>
  </span>
  <span class="ruleset-item" id="code-item">
    <form aria-label="Include or Exclude Code" action="" value="code-id" id="ruleset-item-form" class="ruleset-item-form flex-1">
      <input type="radio" name="criteria" id="include" class="include" />
      <input type="radio" name="criteria" id="exclude" class="exclude" />
      <span></span>
      <div class="ruleset-radio">
        <label for="include" class="ruleset-radio-lbl">Include</label>
        <label for="exclude" class="ruleset-radio-lbl">Exclude</label>
      </div>
    </form>
    <span class="ruleset-item-field flex-1" id="ruleset-item-code">F1442</span>
    <span class="ruleset-item-field flex-2" id="ruleset-item-desc">Cerebellar ataxia-neoplasia</span>
  </span>
  <span class="ruleset-item" id="code-item">
    <form aria-label="Include or Exclude Code" action="" value="code-id" id="ruleset-item-form" class="ruleset-item-form flex-1">
      <input type="radio" name="criteria" id="include" class="include" />
      <input type="radio" name="criteria" id="exclude" class="exclude" />
      <span></span>
      <div class="ruleset-radio">
        <label for="include" class="ruleset-radio-lbl">Include</label>
        <label for="exclude" class="ruleset-radio-lbl">Exclude</label>
      </div>
    </form>
    <span class="ruleset-item-field flex-1" id="ruleset-item-code">F1442</span>
    <span class="ruleset-item-field flex-2" id="ruleset-item-desc">Cerebellar ataxia-neoplasia</span>
  </span>
  <span class="ruleset-item" id="code-item">
    <form aria-label="Include or Exclude Code" action="" value="code-id" id="ruleset-item-form" class="ruleset-item-form flex-1">
      <input type="radio" name="criteria" id="include" class="include" />
      <input type="radio" name="criteria" id="exclude" class="exclude" />
      <span></span>
      <div class="ruleset-radio">
        <label for="include" class="ruleset-radio-lbl">Include</label>
        <label for="exclude" class="ruleset-radio-lbl">Exclude</label>
      </div>
    </form>
    <span class="ruleset-item-field flex-1" id="ruleset-item-code">F1442</span>
    <span class="ruleset-item-field flex-2" id="ruleset-item-desc">Cerebellar ataxia-neoplasia</span>
  </span>
  <span class="ruleset-item" id="code-item">
    <form aria-label="Include or Exclude Code" action="" value="code-id" id="ruleset-item-form" class="ruleset-item-form flex-1">
      <input type="radio" name="criteria" id="include" class="include" />
      <input type="radio" name="criteria" id="exclude" class="exclude" />
      <span></span>
      <div class="ruleset-radio">
        <label for="include" class="ruleset-radio-lbl">Include</label>
        <label for="exclude" class="ruleset-radio-lbl">Exclude</label>
      </div>
    </form>
    <span class="ruleset-item-field flex-1" id="ruleset-item-code">F1442</span>
    <span class="ruleset-item-field flex-2" id="ruleset-item-desc">Cerebellar ataxia-neoplasia</span>
  </span>
  <span class="ruleset-item" id="code-item">
    <form aria-label="Include or Exclude Code" action="" value="code-id" id="ruleset-item-form" class="ruleset-item-form flex-1">
      <input type="radio" name="criteria" id="include" class="include" />
      <input type="radio" name="criteria" id="exclude" class="exclude" />
      <span></span>
      <div class="ruleset-radio">
        <label for="include" class="ruleset-radio-lbl">Include</label>
        <label for="exclude" class="ruleset-radio-lbl">Exclude</label>
      </div>
    </form>
    <span class="ruleset-item-field flex-1" id="ruleset-item-code">F1442</span>
    <span class="ruleset-item-field flex-2" id="ruleset-item-desc">Cerebellar ataxia-neoplasia</span>
  </span>
  <span class="ruleset-item" id="code-item">
    <form aria-label="Include or Exclude Code" action="" value="code-id" id="ruleset-item-form" class="ruleset-item-form flex-1">
      <input type="radio" name="criteria" id="include" class="include" />
      <input type="radio" name="criteria" id="exclude" class="exclude" />
      <span></span>
      <div class="ruleset-radio">
        <label for="include" class="ruleset-radio-lbl">Include</label>
        <label for="exclude" class="ruleset-radio-lbl">Exclude</label>
      </div>
    </form>
    <span class="ruleset-item-field flex-1" id="ruleset-item-code">F1442</span>
    <span class="ruleset-item-field flex-2" id="ruleset-item-desc">Cerebellar ataxia-neoplasia</span>
  </span>
</span>
<span class="ruleset-pagination-controls" id="ruleset-creator-pagination">
  <button id="page-back" disabled><i class="fa fa-caret-left"></i></button>
  <span id="page-enumeration">Page 1 of 4</span>
  <button id="page-forward"><i class="fa fa-caret-right"></i></button>
</span>
