<label>Import from Concept</label>
<input aria-label="Search Codelist" type="text" id="codelist-search" name="codelist-search" class="text-input" placeholder="Search by term or concept identifier..." />
<span class="ruleset-headers with-border">
  <span class="flex-1">ID/Version</span>
  <span class="flex-4">Name</span>
  <span class="flex-1">Actions</span>
</span>
<span class="ruleset-creator-panel">
  <span class="ruleset-item" id="concept-item">
    <span class="ruleset-item-field flex-1" id="ruleset-item-id">C1361/3861</span>
    <span class="ruleset-item-field flex-4 normalise-height" id="ruleset-item-name">Multiple myeloma and malignant plasma cell neoplasms - Primary care</span>
    <span class="ruleset-item-field flex-1 align-centre" id="ruleset-item-actions">
      <button aria-label="Import" class="grey-outline-btn-decor grow-outline grow-outline-down">
        Import
      </button>
    </span>
  </span>
  <span class="ruleset-item" id="concept-item">
    <span class="ruleset-item-field flex-1" id="ruleset-item-id">C1361/3861</span>
    <span class="ruleset-item-field flex-4 normalise-height" id="ruleset-item-name">Multiple myeloma and malignant plasma cell neoplasms - Primary care</span>
    <span class="ruleset-item-field flex-1 align-centre" id="ruleset-item-actions">
      <button aria-label="Import" class="grey-outline-btn-decor grow-outline grow-outline-down">
        Import
      </button>
    </span>
  </span>
  <span class="ruleset-item" id="concept-item">
    <span class="ruleset-item-field flex-1" id="ruleset-item-id">C1361/3861</span>
    <span class="ruleset-item-field flex-4 normalise-height" id="ruleset-item-name">Multiple myeloma and malignant plasma cell neoplasms - Primary care</span>
    <span class="ruleset-item-field flex-1 align-centre" id="ruleset-item-actions">
      <button aria-label="Import" class="grey-outline-btn-decor grow-outline grow-outline-down">
        Import
      </button>
    </span>
  </span>
  <span class="ruleset-item" id="concept-item">
    <span class="ruleset-item-field flex-1" id="ruleset-item-id">C1361/3861</span>
    <span class="ruleset-item-field flex-4 normalise-height" id="ruleset-item-name">Multiple myeloma and malignant plasma cell neoplasms - Primary care</span>
    <span class="ruleset-item-field flex-1 align-centre" id="ruleset-item-actions">
      <button aria-label="Import" class="grey-outline-btn-decor grow-outline grow-outline-down">
        Import
      </button>
    </span>
  </span>
  <span class="ruleset-item" id="concept-item">
    <span class="ruleset-item-field flex-1" id="ruleset-item-id">C1361/3861</span>
    <span class="ruleset-item-field flex-4 normalise-height" id="ruleset-item-name">Multiple myeloma and malignant plasma cell neoplasms - Primary care</span>
    <span class="ruleset-item-field flex-1 align-centre" id="ruleset-item-actions">
      <button aria-label="Import" class="grey-outline-btn-decor grow-outline grow-outline-down">
        Import
      </button>
    </span>
  </span>
  <span class="ruleset-item" id="concept-item">
    <span class="ruleset-item-field flex-1" id="ruleset-item-id">C1361/3861</span>
    <span class="ruleset-item-field flex-4 normalise-height" id="ruleset-item-name">Multiple myeloma and malignant plasma cell neoplasms - Primary care</span>
    <span class="ruleset-item-field flex-1 align-centre" id="ruleset-item-actions">
      <button aria-label="Import" class="grey-outline-btn-decor grow-outline grow-outline-down">
        Import
      </button>
    </span>
  </span>
  <span class="ruleset-item" id="concept-item">
    <span class="ruleset-item-field flex-1" id="ruleset-item-id">C1361/3861</span>
    <span class="ruleset-item-field flex-4 normalise-height" id="ruleset-item-name">Multiple myeloma and malignant plasma cell neoplasms - Primary care</span>
    <span class="ruleset-item-field flex-1 align-centre" id="ruleset-item-actions">
      <button aria-label="Import" class="grey-outline-btn-decor grow-outline grow-outline-down">
        Import
      </button>
    </span>
  </span>
  <span class="ruleset-item" id="concept-item">
    <span class="ruleset-item-field flex-1" id="ruleset-item-id">C1361/3861</span>
    <span class="ruleset-item-field flex-4 normalise-height" id="ruleset-item-name">Multiple myeloma and malignant plasma cell neoplasms - Primary care</span>
    <span class="ruleset-item-field flex-1 align-centre" id="ruleset-item-actions">
      <button aria-label="Import" class="grey-outline-btn-decor grow-outline grow-outline-down">
        Import
      </button>
    </span>
  </span>
</span>
<span class="ruleset-pagination-controls" id="ruleset-creator-pagination">
  <button id="page-back" disabled><i class="fa fa-caret-left"></i></button>
  <span id="page-enumeration">Page 1 of 4</span>
  <button id="page-forward"><i class="fa fa-caret-right"></i></button>
</span>
