<span class="form-group">
  <label>
    Validation
    <span class="desc">
      Some explanation of what validation is with regard to concepts
    </span>
  </label>
  <span class="subheader mrg-1-5">
    Have you validated this concept?
  </span>
  <span class="desc grouped-item">
    <div class="checkbox-group">
      <input aria-label="Validation checkbox" id="concept-validation-checkbox" class="fill-checkbox" name="concept-validation-checkbox" type="checkbox" />
      <span for="checkbox" class="checkbox-label">I have performed validation</span>
    </div>
  </span>
  <span class="subheader mrg-0-5">
    Validation description
    <span class="desc">
      Please describe the validation you have performed, if any, for this concept:
    </span>
  </span>
  <textarea aria-label="Validation description" id="concept-validation-description" name="concept-validation-description" class="text-area-input" rows="4" autocorrect="on" autocomplete="off" spellcheck="default" wrap="soft"></textarea>
</span>
